# --- Build & Output ---
build/
*.o
*.obj
*.elf
*.hex
*.bin
*.map
*.hex
*.d

# --- Zephyr/Python Environment ---
.venv/
env/
zephyr-sdk/

# --- IDE & OS ---
.vscode/
.idea/
.DS_Store
*.swp

# --- Ngoại trừ file phao cứu sinh ---
!bin/LoRaStudio_nrf54l15_xiao_v1.5.2.elf
