// /*
//  * Copyright (c) 2024 Semtech Corporation
//  *
//  * SPDX-License-Identifier: Apache-2.0
//  */

/ {
	aliases {
		smtc-watchdog = &wdt31;
		smtc-user-button = &usr_btn;
	};

	leds {
		lora_tx_led: led_tx {
			gpios = <&gpio2 0 GPIO_ACTIVE_HIGH>;
			label = "LoRa TX LED";
		};
		lora_rx_led: led_rx {
			gpios = <&gpio2 0 GPIO_ACTIVE_HIGH>;
			label = "LoRa RX LED";
		};
	};
};

&xiao_serial {
	status = "disabled";
};

&i2c22 {
	status = "disabled";
};

&i2c30 {
	status = "disabled";
};

&adc {
	status = "disabled";
};

&wdt31 {
	status = "okay";
};
